@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .navbar-header {
        float: none;    
        padding: 0 15px;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        border-color: #0076ff;
        margin-top: -6px;
    }
    .navbar-toggle .icon-bar {
        background-color: #0076ff;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 2px;
    }
    .navbar-nav>li {
        float: none;
        display: block;
        text-align: left;
        padding: 0;
    }
    .navbar-nav>li>p {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .collapse.in {
        display: block !important;
    }
    .font_main_name {
        font-size: 14px;
    }
    .raskatka .font_main_name {
        font-size: 28px;
    }
    .col-sm-8.styleDivOrder {
        margin-bottom: 45px;
    }
    .visible-xs {
        display: block !important;
    }
    .styleDivOrder .actions {
        position: relative;
    }
    .page_header button {
        padding: 0px 25px 1px 0px;
    }
    .change-traker {
        margin: -3px 10px;
    }
    .nav-tabs > li {
        display: inline-block;
    }
    .nav-tabs > li a {
        border: 1px solid #0079fe;
    }
    .nav-tabs > li:first-child a {
        border-radius: 0;
    }
    .nav-tabs > li:last-child a {
        border-radius: 0;
    }
    .tab-content > .tab-pane {
        overflow: auto;
    }
    .back {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        margin: 0 !important;
    }
}

@media (max-width: 767px) {
    .styleDivOrder {
        height: initial;
    }
    .page_main {
        height: calc(100% - 135px);
    }
}
@media (max-width: 640px) {
    
}